@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
main{
    width: 100%;
    height: 100vh;
    background: rgb(94, 91, 91);
    color: #fff;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    flex-direction: column;
    gap: 20px;
}
.main-container h1{
    font-size: 50px;
}
.main-container p{
    font-size: 12px;
}
.content{
    display: flex;
    gap: 30px;
}
.content .encrypt-content{
    border: 2px solid rgb(55, 54, 54);
    padding: 20px 40px;
    box-shadow: 10px 10px 20px #000;
    width: 350px;
    height: 280px;
    border-radius: 15px;
}
.content .decrypt-content{
    border: 2px solid rgb(55, 54, 54);
    padding: 20px 40px;
    box-shadow: 10px 10px 20px #000;
    width: 350px;
    height: 280px;
    border-radius: 15px;
}
.content input{
    width: 250px;
    height: 35px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 15px;
}
.content textarea{
    width: 250px;
    height: 50px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 15px;
}
.content button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}
.content button:hover{
    background: rgb(36, 42, 39);
    color: #fff;
    transition: 0.5s;
}
.content h4{
    font-size: 25px;
}
.encrypt-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.decrypt-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.custom-shape-divider-bottom-1669083069 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669083069 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1669083069 .shape-fill {
    fill: #FFFFFF;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.footer-line{
    width: 50%;
    height: 1px;
    background-color: #fff;
}
@media only screen and (max-width: 480px) {
    .main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
  
    .main-container h1{
        font-size: 15px;
    }
    .main-container h3{
        font-size: 15px;
    }
    .main-container p{
        font-size: 10px;
    }

   .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .content textarea{
    width: 250px;
    height: 50px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 15px;
}
.content .encrypt-content{
    width: 300px;
    height: 240px;
   
}
.content .decrypt-content{
    width: 300px;
    height: 240px;
   
}
.custom-shape-divider-bottom-1669083069 {
    display: none;
}
footer{
    display: none;
}
}